{% extends 'InfinityVision/base.html' %}
{% block content %}

<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section" style="background-color: #000; padding: 40px 0;">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center" data-aos="fade-up" data-aos-delay="100">

                    <h3 style="
                        font-family: 'Roboto', sans-serif;
                        color: #fff;
                        font-size: 1.2rem;
                        line-height: 1.6;
                        text-align: justify;
                        padding: 20px;
                    ">
                        Вебзастосунок InfinityVision класифікує завантажені в нього зображення за допомогою
                        Convolutional Neural Network.
                        Застосунок розроблений на базі фреймворку Django.
                        Модель, що класифікує зображення, натренована на датасеті CIFAR-10.
                        Як згорткову основу використано VGG-16.
                        Загалом було натреновано дві успішні за точністю моделі.
                        Перша модель мала розмір 56х56 пікселів, тренувалась 10 епох і мала точність 92%, але після
                        донавчання на 5 епохах досягла точності 94%.
                        Після аналізу і тестування моделі було вирішено збільшити розмір зображень до 128х128 пікселів.
                        Отже, друга модель мала розмір 128х128 пікселів, тренувалась 5 епох і мала точність 92%.
                        Для другої моделі також застосували донавчання на 10 епохах, і точність зросла до 93%.
                        Хоча точність другої моделі була на 1% нижчою за попередню, вона краще класифікувала зображення,
                        які не входили до датасету.
                        За результатами тестування було вирішено використовувати в застосунку модель, натреновану на
                        зображеннях розміром 128х128 пікселів.
                    </h3>
                    <h4 style="
                        font-family: 'Roboto', sans-serif;
                        color: #fff;
                        font-size: 1.2rem;
                        line-height: 1.6;
                        text-align: justify;
                        padding: 20px;
                    ">
                        The InfinityVision web application classifies images uploaded to it using a Convolutional Neural
                        Network.
                        The application is developed based on the Django framework.
                        The model that classifies images was trained on the CIFAR-10 dataset, with VGG-16 used as the
                        convolutional base.
                        In total, two models were successfully trained in terms of accuracy.
                        The first model had a size of 56x56 pixels, was trained for 10 epochs, and achieved an accuracy
                        of 92%, but after applying additional training for 5 more epochs, it reached an accuracy of 94%.
                        After analyzing and testing the model, it was decided to increase the image size to 128x128
                        pixels.
                        Therefore, the second model had a size of 128x128 pixels, was trained for 5 epochs, and achieved
                        an accuracy of 92%.
                        Additional training for 10 epochs was also applied to the second model, raising the accuracy to
                        93%.
                        Although the accuracy of the second model was 1% lower than the previous one, it performed
                        better at classifying images that were not part of the dataset.
                        Based on the test results, it was decided to use the model trained on images with a size of
                        128x128 pixels in the application.
                    </h4>
                </div>
            </div>
        </div>

    </section>
</main>

{% endblock %}
